/.DS_Store
/.mc-lists.el
/.org-id-locations
/ac-comphist.dat
/auto-save-list/
/bookmarks
/grizzl-core
/history
/places
/projectile-bookmarks.eld
/tetris-scores
/tramp
/elpa/
/games/
/geben-on-emacs-read-only/
/site-lisp/ahg
/site-lisp/nonpublic-packages
/site-lisp/scribd/magicwords.txt
/site-lisp/shell-switcher
/site-lisp/swiper/
/site-lisp/scribd/scribd.el
/site-lisp/tron.el
