[submodule "site-lisp/broadcast.el"]
	path = site-lisp/broadcast.el
	url = https://github.com/killdash9/broadcast.el.git
[submodule "site-lisp/org-passwords.el"]
	path = site-lisp/org-passwords.el
	url = https://killdash9@bitbucket.org/killdash9/org-passwords.el.git
[submodule "site-lisp/swiper"]
	path = site-lisp/swiper
	url = https://github.com/killdash9/swiper.git
[submodule "site-lisp/tron.el"]
	path = site-lisp/tron.el
	url = https://github.com/killdash9/tron.el.git
[submodule "site-lisp/buffer-flip.el"]
	path = site-lisp/buffer-flip.el
	url = https://github.com/killdash9/buffer-flip.el.git
